
body{
background-color: rgb(96,99,115);
}
box{
background-color: rgb(219,248,245); 
}

h1 {
  color: white;
  text-align: center;
  font-family: "Gill Sans";
}

h3{
  color: white;
  text-align: center;
  font-family: "Gill Sans";
}
